.restaurants {
    padding-top: 15px;
    padding-bottom: 80px;

    &__heading {
        font: var(--typo-h2);
        color: var(--color-typo-main)
    }

    &__container {
        display: grid;

        grid-template-columns: 1fr;
        column-gap: 16px;
        row-gap: 16px;

        @media (--above-md) {
            grid-template-columns: 1fr 1fr;
        }
    
        @media (--above-lg) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}