.option {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 48px;

	width: 100%;

	font: var(--typo-4);
	color: var(--color-typo-reverse);
	text-align: left;

	border: none;

	background-color: var(--color-background-select);

	&:hover {
		color: var(--color-typo-main);

		background-color: var(--color-background-main)
	}

	&--active {
		color: var(--color-typo-reverse);

		background-color: var(--color-typo-accent);
	}
}
		
	